   
   
   
   
           @media (max-width: 768px) {
            .box {
                width: calc(50% - 1vw); /* Dos columnas en pantallas peque09as */
            }
        }
        
        @media (max-width: 576px) {
            .box {
                width: calc(100% - 1vw); /* Una columna en dispositivos extra peque09os */
            }
        }
           
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

.videoBackground {
    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1; /* Asegúrate de que el video quede detrás de todo el contenido */
}

    body {
        /*background-image: url("../imagenes/imagen_fondo.jpg");*/
        margin: 5vw;
        background-size: cover; /* Ajusta el tama帽o de la imagen para cubrir completamente el contenedor */
        background-repeat: no-repeat; /* Evita la repetici贸n de la imagen */
    }

     .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start; /* Ajustado para alinear los elementos al inicio */
        gap: 1vw; /* Espacio entre los elementos */
        padding: 1vw;
    }

    .box {
        width: calc(25% - 1vw); /* Cambiamos el ancho para que haya 4 columnas */
        height: 20vh;
        margin-bottom: 1vw;
        padding: 0.5vw;
        background-color: #ccc;
        position: relative;
    }
    .dropdown-menu {
        max-height: 200px; /* Ajusta según tus necesidades */
        overflow-y: auto; /* Permite desplazamiento vertical dentro del menú desplegable */
    }

        .dropdown-menu li a {
            font-size: 0.8rem;
            padding: -5px 10px;
                    overflow-y: auto; /* Permite desplazamiento vertical dentro del menú desplegable */

        }
        

        /* A09adimos reglas para manejar el tama09o de la imagen dentro de .box */
        .box img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }
           
        .box:hover img {
          /*transform: scale(2.00);*/
        }
        .box:hover {
        box-shadow: 0 0 1vw #000;
          /*: scale(1.1);  Escala la imagen al 110% al pasar el cursor */

    }

    .box:nth-child(2n) {
        background-color: #eee;
    }

    .box:nth-child(3n) {
        background-color: #ddd;
    }

    .box:nth-child(4n) {
        background-color: #bbb;
    }

 